
:root {
    --primary-light: #3e3e3e;
    --primary-dark: #ffffff;
    --text-light: #181818;
    --text-dark: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    transition: background 0.3s, color 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    cursor: grab;
}

.upload-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    transition: background 0.3s;
}

.upload-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    border: #b8b8b8 2px solid;
    cursor: default;
}

#drop-area {
    border: 2px dashed var(--primary-light);
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fafafa;
    transition: background 0.3s;
}

#drop-area.active {
    background-color: #ddd;
}

#browse-btn {
    color: var(--text-light);
    font-weight: bold;
    cursor: pointer;
}

#file-input {
    display: none;
}

#upload-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: var(--primary-light);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#upload-btn:disabled {
    background-color: #3e3e3e;
    cursor: not-allowed;
}

#status {
    margin-top: 10px;
    font-weight: bold;
}

#theme-toggle {
    position: absolute;  
    right: 15px;
    top: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000
}

#error-section {
    display: none;
}

.dark-mode {
    color: var(--text-dark);
}

.dark-mode .upload-container {
    background: rgba(62, 62, 62, 0.8);
    border: #000000 2px solid;
}

.dark-mode #browse-btn {
    color: var(--primary-dark);
}

.dark-mode #drop-area {
    background-color: #505050;
    border-color: var(--primary-dark);
}

.dark-mode #drop-area.active {
    background-color: rgb(0, 0, 0);
}

.dark-mode #upload-btn {
    background-color: var(--primary-dark);
    color: #000000;
}

.tartan-pattern {
    width: 100%;
    height: 100%;
    background:  
    linear-gradient(to right, 
        rgba(255, 255, 255, 0.65) 0%,
        rgba(255, 255, 255, 0.65) 1.2%,
        transparent 1.2%,
        transparent 23.21%,
        rgba(32, 67, 64, 0.65) 23.21%,
        rgba(32, 67, 64, 0.65) 33.93%,
        transparent 33.93%,
        transparent 37.5%,
        rgba(44, 30, 48, 0.65) 37.5%,
        rgba(44, 30, 48, 0.65) 48.21%,
        transparent 48.21%,
        transparent 51.79%,
        rgba(44, 30, 48, 0.65) 51.79%,
        rgba(44, 30, 48, 0.65) 62.5%,
        transparent 62.5%,
        transparent 66.07%,
        rgba(32, 67, 64, 0.65) 66.07%,
        rgba(32, 67, 64, 0.65) 76.79%,
        transparent 76.79%,
        transparent 98.8%,
        rgba(255, 255, 255, 0.65) 98.8%,
        rgba(255, 255, 255, 0.65) 100%),
    linear-gradient(to bottom, 
        rgba(255, 255, 255, 0.65) 0%,
        rgba(255, 255, 255, 0.65) 1.2%,
        transparent 1.2%,
        transparent 23.21%,
        rgba(32, 67, 64, 0.65) 23.21%,
        rgba(32, 67, 64, 0.65) 33.93%,
        transparent 33.93%,
        transparent 37.5%,
        rgba(44, 30, 48, 0.65) 37.5%,
        rgba(44, 30, 48, 0.65) 48.21%,
        transparent 48.21%,
        transparent 51.79%,
        rgba(44, 30, 48, 0.65) 51.79%,
        rgba(44, 30, 48, 0.65) 62.5%,
        transparent 62.5%,
        transparent 66.07%,
        rgba(32, 67, 64, 0.65) 66.07%,
        rgba(32, 67, 64, 0.65) 76.79%,
        transparent 76.79%,
        transparent 98.8%,
        rgba(255, 255, 255, 0.65) 98.8%,
        rgba(255, 255, 255, 0.65) 100%),
        linear-gradient(to right,
        red 0%,
        red 100%);
    background-size: calc(100vw / 7) calc(100vw / 7);
    background-position: 0px 0px;
    cursor: grab;
}

::selection {
    background-color: brown;
    color: whitesmoke;
}