.upload-container {
    background-image: url('../images/barbour.png');
}

.tartan-pattern {
    width: 100%;
    height: 100%;
    background:
    linear-gradient(to bottom,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(255, 255, 255, 0.45) 1.2%,
    transparent 1.2%),
    linear-gradient(to right, 
        transparent 0%,
        transparent 19%,
        rgba(138, 37, 46, 0.65) 19%,
        rgba(138, 37, 46, 0.65) 20%,
        transparent 20%,
        transparent 40%,
        rgba(255, 255, 255, 0.45) 40%,
        rgba(255, 255, 255, 0.45) 41.2%,
        rgba(70, 59, 39, 0.65) 41.2%,
        rgba(70, 59, 39, 0.65) 51.2%,
        transparent 51.2%,
        transparent 65.1%,
        rgba(70, 59, 39, 0.65) 65.1%,
        rgba(70, 59, 39, 0.65) 66.3%,
        transparent 66.3%,
        transparent 73.9%,
        rgba(70, 59, 39, 0.65) 73.9%,
        rgba(70, 59, 39, 0.65) 75.1%,
        transparent 75.1%,
        transparent 88.8%,
        rgba(70, 59, 39, 0.65) 88.8%,
        rgba(70, 59, 39, 0.65) 98.8%,
        rgba(255, 255, 255, 0.45) 98.8%,
        rgba(255, 255, 255, 0.45) 100%),
    linear-gradient(to bottom,
        transparent 0%,
        transparent 19%,
        rgba(138, 37, 46, 0.65) 19%,
        rgba(138, 37, 46, 0.65) 20%,
        transparent 20%,
        transparent 40%,
        rgba(255, 255, 255, 0.45) 40%,
        rgba(255, 255, 255, 0.45) 41.2%,
        rgba(70, 59, 39, 0.65) 41.2%,
        rgba(70, 59, 39, 0.65) 51.2%,
        transparent 51.2%,
        transparent 65.1%,
        rgba(70, 59, 39, 0.65) 65.1%,
        rgba(70, 59, 39, 0.65) 66.3%,
        transparent 66.3%,
        transparent 73.9%,
        rgba(70, 59, 39, 0.65) 73.9%,
        rgba(70, 59, 39, 0.65) 75.1%,
        transparent 75.1%,
        transparent 90%,
        rgba(70, 59, 39, 0.65) 90%,
        rgba(70, 59, 39, 0.65) 100%),
    linear-gradient(to left,
        rgb(198, 171, 142) 0%,
        rgb(198, 171, 142) 60%,
        transparent 40%),
    linear-gradient(to bottom,
        rgba(80, 105, 109, 0.75) 0%,
        rgba(80, 105, 109, 0.75) 40%,
        transparent 40%),   
    linear-gradient(to top,
        rgb(157, 140, 128) 0%,
        rgb(157, 140, 128) 60%,
        transparent 60%),
    linear-gradient(to right,
        rgb(198, 171, 142) 0%,
        rgb(198, 171, 142) 100%);
    background-size: calc(100vw / 7) calc(100vw / 6);
    background-position: 0px 0px;
    cursor: grab;
    }

::selection {
    background-color: rgb(168, 151, 139);
    color: white;
}
